.paper-item {
    background: #ffffff;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 10px;
    .paper-title {
        text,span {
          font-size: 28px;
          font-weight: bolder;
        //   line-height: 20px;
        }
      }
    .paper-info{
      padding: 10px 0 10px 0;
      font-size: 24px;
      line-height: 28px;
      color: #5b5b5b;
      
    }
    .paper-author{
      color: #a0acac;
      view,div,span {
        display: inline-block;
        vertical-align: text-bottom;
        padding: 0 10px 0 0;
        font-size: 24px;
      }
    }
}

.line-1 {
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 2;
}